:root {
  --light-blue-100: #f3f5fc;
  --light-blue-200: #eff1fa;
  --light-blue-300: #e9ecf8;
  --light-blue-400: #aab2d5;
  --light-blue-500: #757fb2;
  --dark-blue-100: #609ed4;
  --dark-blue-200: #356ea9;
  --dark-blue-300: #0a3871;
  --dark-blue-400: #072b61;
  --dark-blue-500: #052051;
  --gray-100: #ced4da;
  --gray-200: #adb5bd;
  --gray-300: #868e96;
  --gray-400: #495057;
  --gray-500: #343a40;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--dark-blue-500);
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--light-blue-100);
}

.contenedor {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 5%;
  padding: 3%;
  min-height: 100vh;
  max-width: 1440px;
  width: 100%;
  background-color: var(--light-blue-100);
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.button {
  flex: 1;
  max-height: 56px;
  cursor: pointer;
  font-size: 20px;
  padding: 15px 32px;
  width: 100%;
  gap: 2%;
  border-radius: 24px;
  color: var(--light-blue-200);
  background: var(--dark-blue-400);
  border: 2px solid var(--dark-blue-400);
  transition: 0.2s;
}

.descifrar,
.copiar {
  color: var(--dark-blue-500);
  border: 2px solid var(--dark-blue-300);
  background: transparent;
}

.clean {
  position: absolute;
  bottom: 0;
  right: 0;
  flex: none;
  padding: 15px;
  border-radius: 50%;
  width: unset;
}

.encriptar:hover {
  color: var(--dark-blue-500);
  background: transparent;
}

.descifrar:hover,
.copiar:hover {
  border: 2px solid var(--dark-blue-400);
  background: var(--gray-100);
}

.logo {
  display: flex;
  height: 48px;
}

.mensaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 120px;
  gap: 16px;
  height: 100%;
  width: 100%;
  max-width: 680px;
}

.error {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--gray-400);
  height: 30px;
}

.textarea-contenedor {
  position: relative;
  height: 100%;
  width: 100%;
}

.input-mensaje {
  flex: 1;
  font-size: 32px;
  background-color: transparent;
  border: none;
  width: 95%;
  min-height: 250px;
  height: auto;
  resize: none;
}

.input-mensaje:focus {
  outline: none;
}
.input-mensaje::placeholder {
  color: var(--light-blue-500);
}

.input-mensaje:focus::placeholder {
  color: transparent;
}

.mensaje-encriptado {
  overflow-wrap: break-word;
  overflow-x: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.encriptado-contenedor {
  display: flex;
  font-size: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 16px; */
  min-width: 300px;
  width: 100%;
  max-width: 400px;
  height: 100%;
  padding: 32px;
  background-color: #fff;
  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.search-img {
  width: 100%;
}

.titulo-mensaje {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.texto-mensaje {
  font-size: 20px;
  text-align: center;
  color: var(--gray-400);
}

.show.output-mensaje,
.show.encriptado-vacio {
  display: flex;
}

.encriptado-vacio {
  display: none;
  flex-direction: column;
  gap: 24px;
}

.output-mensaje {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
  flex: 1;
}

.output-mensaje p {
  width: 100%;
  padding: 32px 0;
}

.buttons-contenedor {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

@media (max-width: 900px) {
  .mensaje {
    width: 100%;
    padding-top: 60px;
  }

  .encriptado-contenedor {
    align-self: center;
    min-height: unset;
    max-width: unset;
    width: 95%;
    height: unset;
  }

  .contenedor {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .logo {
    align-self: flex-start;
  }

  .search-img {
    display: none;
  }

  .buttons {
    justify-content: space-around;
  }
}

@media (max-width: 576px) {
  .buttons {
    flex-direction: column;
  }

  .input-mensaje {
    min-height: 200px;
  }

  .contenedor {
    padding: 16px;
  }
}
